name: Cargo Assist

on:
  push:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  cargo-assist:
    name: Cargo assist
    runs-on: ubuntu-latest
    permissions:
      contents: write # to allow pushing commits
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          # use CARGO_ASSIST_TOKEN if available.
          # In forks it's not available, so use the default GITHUB_TOKEN.
          token: ${{ secrets.CARGO_ASSIST_TOKEN || secrets.GITHUB_TOKEN }}
          # Persist credentials to allow cargo-assist to git commit.
          # `true` is the default value.
          persist-credentials: true
      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          components: clippy, rustfmt
      - name: Cargo assist
        uses: MarcoIeni/cargo-assist@dcc6e09df20675c6351c5b34f94dac66ae29a9ea # v0.1.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
