name: Website CI # Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  website:
    name: Website Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 24
          cache: npm
          cache-dependency-path: "website/package-lock.json"

      - name: Install dependencies
        run: npm ci
        working-directory: ./website

      - name: Markdown lint
        run: npm run mdlint
        working-directory: ./website

      - name: Build website
        run: npm run build
        working-directory: ./website
