name: Website CD # Continuous Deployment

on:
  workflow_dispatch: # Allow manual triggers
  push:
    tags:
      - "release-plz-v*.*.*"

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  deploy:
    name: Deploy website
    permissions:
      contents: write # Required for GitHub Pages deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 24
          # disable cache for https://docs.zizmor.sh/audits/#cache-poisoning
          package-manager-cache: false

      - name: Install dependencies
        run: npm ci
        working-directory: ./website

      - name: Build website
        run: npm run build
        working-directory: ./website

      - name: Deploy to release-plz.dev
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy ./website/build --project-name=release-plz --branch=main

      # Deploy to release-plz.ieni.dev (legacy).
      # I couldn't find a way to redirect.
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Build output to publish to the `gh-pages` branch:
          publish_dir: ./website/build
